<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="home"><a href="" ng-click="goDashboard();" ng-controller="locationCtrl"><img src="assets/icons/home-btn.png"></img></a></li>
                <li class="lgout"><a href="" ng-click="logout_user();" target="_blank"><img src="assets/icons/logout-btn-active.png"></a></li>
            </ul>
        </div>
            <!--/.nav-collapse -->
    </div>
</div>
    </br>
<div class = 'container'>
    <div class="wrapper">
      <div class="logo"><img src="assets/pics/dashboard-logo.png"></img>
      <div class="pull-right"><h3><strong>Hello,</strong> {{User}}</h3></div>
    </div>
    </div>
    <div class="rec-row well">
      <button class="btn btn-warning pull-right" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-plus"></i>
        ADD NEW USER
      </button>
    </div>
</div>

    
    <br>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 id="alert-modal-title" class="modal-title"></h4>
            </div>
             <div class="modal-body">
                <form name="userForm" ng-submit="addUserData()">
                	<h1 class="add-txt">ADD A NEW USER</h1>
                     
                     <div class="form-group">
                         <label for="idNumber" class="control-label">ID Number:</label><br>
                         <input type="number" name="idNumber" ng-model= "user.idnumber" id="idnumber" class="form-control input-lg" required/>
                     </div>
                     
                     <div class="form-group">
                         <label for="lastname">Role:</label><br>
                         <select name="role" ng-model="user.selectedrole" ng-options="x for x in roles" class="select-form input-lg">
                          <option>Select a role</option>
                         </select>
                     </div>
                     <div class="add-btn">
                         <input type="submit" class="btn btn-block btn-lg btn-primary" ng-disabled= "userForm.$invalid" onclick= "$('#myModal').modal('hide')" value="ADD USER"/>
                     </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="container">
            <br/>
            <h3 align="center">Office of the Campus Registrar Graduate Studies and Research</a></h3>
            <br/>
            
           <div class="row">
                <div class="col-md-12">
                    <div class ='container main-container'>
                        <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Department</th> 
                              <th>Email Address</th>
                              <th>FullName </th>
                              <th>ID Number</th>
                              <th>Role</th>
                              <th ng-hide={{showAddUser}}>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="row in persons">
                              <td>
                                <div>{{row.department}}</div>
                              </td>
                              
                              <td>
                                <div>{{row.emailAddress}}</div>
                              </td>
                              
                              <td>
                                <div>{{row.fullName}}</div>
                              </td>
                                
                              <td>
                                <div>{{row.idNumber}}</div>
                              </td>
                              
                               <td>
                                <div>{{row.role}}</div>
                              </td>
                              
                              <td ng-hide={{showAddUser}}>
                                <button type="button" ng-click="removePerson($index,row.id)" class="btn btn-sm btn-danger">
                      			    <i class="glyphicon glyphicon-trash"></i>
                      			</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
    <footer id="app-footer" class="footer ng-scope">
 	    <div class="container">
 		    <div class="row">
 			    <div class="container-fluid">
		 		    <nav class="navbar">
				        <ul class="nav">
			                <li class="navbar-text pull-right"><a id="feedback-btn" ui-sref="feedback" href="/feedback">Send Feedback</a></li>
			            </ul>
				    </nav> 				
 			    </div>
 		    </div>
 	    </div>
    </footer>
</html>
