    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="home"><a href="" ng-click="goDashboard();" ng-controller="locationCtrl"><img src="/assets/icons/home-btn.png"></img></a></li>
                    <li ng-hide={{showAddUser}} class="addUser"><a href="" ng-click="goToAddUser();"ng-controller="locationCtrl"><img src="/assets/icons/addUser-btn-active.png"></img></a></li>
                    <li class="lgout"><a href="" ng-click="logout_user();" target="_blank"><img src="/assets/icons/logout-btn-active.png"></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    
    <div class="wrapper">
      <div class="logo"><img src="/assets/pics/dashboard-logo.png"></img></div>
        <div class="add-rec-btn rec_space">
          <button ng-click="goToRecordForm()" ng-controller="locationCtrl">
            <img src="/assets/icons/add-record-btn.png"></img>
          </button>
        </div>
    </div>
    <div class ='table-container'>
    <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Sender</th> 
          <th>Contents</th>
          <th>Actions </th>
          <th>Logged by</th>
          <th>Reciceved date</th>
          <th ng-hide={{showAddUser}}>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in records | filter : search">
          <td>
            <div ng-hide="editingData[row.id]">{{row.fromperson}}</div>
            <div ng-show="editingData[row.id]"><input class= "form-control" type="text" ng-model="row.fromperson" /></div>
          </td>
          
          <td>
            <div ng-hide="editingData[row.id]">{{row.description}}</div>
            <div ng-show="editingData[row.id]"><input class= "form-control" type="text" ng-model="row.description" /></div>
          </td>
          
          <td>
            <div ng-hide="editingData[row.id]">{{row.raction}}</div>
            <div ng-show="editingData[row.id]"><input class= "form-control" type="text" ng-model="row.raction" /></div>
          </td>
          
          <td>
            <div ng-hide="editingData[row.id]">{{row.loggedby}}</div>
            <div ng-show="editingData[row.id]"><input class= "form-control" type="text" ng-model="row.loggedby" /></div>
          </td>
            
          <td>
            <div ng-hide="editingData[row.id]">{{row.sdate}}</div>
            <div ng-show="editingData[row.id]"><input class= "form-control" type="text" ng-model="row.sdate" /></div>
          </td>
          
          <td ng-hide={{showAddUser}}>
            <button type="button" ng-click="removeItem($index,row.id)" class="btn btn-sm btn-danger">
  					<i class="glyphicon glyphicon-remove-circle"></i>
  					<button ng-hide="editingData[row.id]" ng-click="modify(row)">Modify</button>
  					<button ng-show="editingData[row.id]" ng-click="update(row)">Update</button>
  				 </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
<style>
  @import url('https://fonts.googleapis.com/css?family=Helvetica');
      * {
          margin: 0;
          padding: 0;
          border: 0;
          outline: 0;
          font-size: 100%;
          vertical-align: baseline;
      }
    html{
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          height: 100%;
          min-height: 100%;
          overflow:hidden;
      }
    body{
        width: 95%;
        height: 100%;
        background-image: url(/assets/pics/dashboard-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: roboto;
        min-height: 100%;
        overflow:auto;
        z-index: -1;
    }
    .navbar{
        background-color:white;
        border:none;
    }
    .nav .home{
        margin-top:6px;
        border-right: 1px solid rgba(28,78,128,0.16);
        opacity:0.5;
    }
    .home:hover{
        opacity:1;
    }
    .nav .admin{
        margin-top:4px;
        border-right: 1px solid rgba(28,78,128,0.16);
        opacity:0.5;
    }
    .admin:hover{
        opacity:1;
    }
    .nav .lgout{
        margin-top:3px;
        opacity:0.5;
    }
    .lgout:hover{
        opacity:1;
    }
    .nav{
        margin-left:60px;
    }
    .search input{
      width:30%;
      background-color:transparent;
    }
    .wrapper{
      margin-top:5%;
    }
    .wrapper .add-rec-btn{
      float:right;
      margin-top:-80px;
      margin-right:72px;
    }
    .logo{
      margin-bottom:80px;
      margin-left:64px;
    }
    .max-res{
      margin-left:64px;
      margin-bottom:32px;
      margin-top:30px;
    }
    table{
      margin-left:64px;
      background-color:white;
      width: 70%;
    }
    .page-nav{
      margin-left:64px;
    }
    .page-nav:hover{
      cursor:pointer;
    }
    .table-container{
      padding: 50px;
    }
</style>